In [4]:
import warnings
import pandas as pd
warnings.filterwarnings("ignore")

In [5]:
df=pd.read_csv('post_offices.csv')
df

,name,alt_name,orig_name,state,county1,county2,county3,orig_county,established,discontinued,...,gnis_feature_id,gnis_feature_class,gnis_orig_name,gnis_orig_county,gnis_latitude,gnis_longitude,gnis_elev_in_m,gnis_dist,latitude,longitude
0,A AND M COLLEGE,NaN,A AND M COLLEGE,MS,OKTIBBEHA,NaN,NaN,Oktibbeha,1922.0,1932.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A. B. C.,NaN,A. B. C.,TN,SUMNER,NaN,NaN,Sumner,1880.0,1914.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AARON,NaN,AARON,MO,BATES,NaN,NaN,Bates,1895.0,1933.0,...,2091668.0,Post Office,Aaron Post Office (historical),Bates,38.422222,-94.154167,268.0,1.0,38.422222,-94.154167
3,AARON,NaN,AARON,TN,BENTON,NaN,NaN,Benton,1889.0,1890.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AARON,NaN,AARON,TN,BRADLEY,NaN,NaN,Bradley,1860.0,1860.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166135,TRUE,NaN,TRUE,OK,HARMON,NaN,NaN,Harmon,1901.0,1905.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166136,TRUE,NaN,TRUE,TX,YOUNG,NaN,NaN,Young,1894.0,1912.0,...,1380679.0,Populated Place,True,Young,33.279830,-98.728670,359.0,1.0,33.279830,-98.728670
166137,SIERRA BLANCA,NaN,SIERRA BLANCA,TX,HUDSPETH,NaN,NaN,Hudspeth,1882.0,NaN,...,2732001.0,Post Office,Sierra Blanca Post Office,Hudspeth,31.175930,-105.360000,1380.0,1.0,31.175930,-105.360000
166138,GRAHAM'S MILLS,GRAHAMS MILLS,GRAHAM'S MILLS,TX,SHELBY,NaN,NaN,Shelby,1854.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166139,CATLETT'S CREEK,CATLETTS CREEK,CATLETT'S CREEK,TX,WISE,NaN,NaN,Wise,1858.0,1867.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df=df.drop(columns={
    'name',
    'orig_name',
    'alt_name',
    'county1','county2','county3',
    'gnis_match','gnis_county','gnis_state','gnis_feature_id',
    'gnis_orig_county','gnis_orig_name','gnis_longitude','gnis_name',
    'gnis_latitude','gnis_dist'
})
df

,state,orig_county,established,discontinued,continuous,stamp_index,id,coordinates,duration,gnis_feature_class,gnis_elev_in_m,latitude,longitude
0,MS,Oktibbeha,1922.0,1932.0,True,1.0,2,False,10.0,NaN,NaN,NaN,NaN
1,TN,Sumner,1880.0,1914.0,True,4.0,3,False,34.0,NaN,NaN,NaN,NaN
2,MO,Bates,1895.0,1933.0,True,2.0,4,True,38.0,Post Office,268.0,38.422222,-94.154167
3,TN,Benton,1889.0,1890.0,True,5.0,5,False,1.0,NaN,NaN,NaN,NaN
4,TN,Bradley,1860.0,1860.0,True,9.0,6,False,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
166135,OK,Harmon,1901.0,1905.0,True,6.0,166141,False,4.0,NaN,NaN,NaN,NaN
166136,TX,Young,1894.0,1912.0,True,4.0,166142,True,18.0,Populated Place,359.0,33.279830,-98.728670
166137,TX,Hudspeth,1882.0,NaN,True,0.0,166143,True,NaN,Post Office,1380.0,31.175930,-105.360000
166138,TX,Shelby,1854.0,NaN,True,0.0,166144,False,NaN,NaN,NaN,NaN,NaN
166139,TX,Wise,1858.0,1867.0,True,7.0,166145,False,9.0,NaN,NaN,NaN,NaN

In [7]:
df=df.dropna()

In [8]:
def duration2(df):
    x=int(df[0])
    y=int(df[1])
    z=int(df[2])
    if len(str(x))<4:
        return False
    if len(str(y))>4:
        return False
    if z<=0:
        return False
    return True

df=df[df[['established','discontinued','duration']].apply(lambda x:duration2(x),axis=1)]
df

,state,orig_county,established,discontinued,continuous,stamp_index,id,coordinates,duration,gnis_feature_class,gnis_elev_in_m,latitude,longitude
2,MO,Bates,1895.0,1933.0,True,2.0,4,True,38.0,Post Office,268.0,38.422222,-94.154167
5,GA,Bulloch,1909.0,1920.0,True,3.0,7,True,11.0,Populated Place,81.0,32.568220,-81.992340
7,SC,Anderson,1892.0,1899.0,True,6.0,9,True,7.0,Post Office,265.0,34.577053,-82.623466
11,MO,Christian,1895.0,1919.0,True,4.0,13,True,24.0,Populated Place,402.0,37.038386,-92.947119
13,MO,Warren,1878.0,1904.0,True,5.0,15,True,26.0,Post Office,169.0,38.816667,-91.391667
...,...,...,...,...,...,...,...,...,...,...,...,...,...
166119,MT,Fergus,1915.0,1918.0,True,5.0,166125,True,3.0,Post Office,952.0,47.454980,-108.904900
166123,OR,Wallowa,1903.0,1936.0,True,3.0,166129,True,33.0,Post Office,1398.0,45.630710,-116.970200
166131,KS,Sumner,1887.0,1906.0,True,5.0,166137,True,19.0,Populated Place,375.0,37.434740,-97.389210
166133,TX,Wheeler,1910.0,1931.0,True,2.0,166139,True,21.0,Cemetery,817.0,35.619210,-100.190700
166136,TX,Young,1894.0,1912.0,True,4.0,166142,True,18.0,Populated Place,359.0,33.279830,-98.728670

In [9]:
df.to_csv('postal.csv',index=False)